/* Change the entire box model to border-box */
* {
    box-sizing: border-box;
}
/*Add web fonts */
@font-face {
    font-family: 'Avenger';
    src: url('../fonts/avengers.ttf') format('truetype');
}

@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/bebasneue/v2/JTUSjIg69CK48gW7PXoo9Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  

/* Element selectors */

main {
    background-color: rgba(98, 110, 218, 0.75);
    background-size: cover;
    color: white;
    text-align: center;
    width: 80%;
    margin: 50px auto;
    overflow: hidden;
    height: 100%;
}

body {
    font-family: Roboto;
    background-image: url("../img/background.jpg");
    height: 100%;
    margin: 0px 0px;
}

img {
    height: 300px;
    width: 300px;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: red;
    border: none;
    margin: 1%;
}
  
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
  
button:active {
    background-color: #FF736B;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

span {
    padding-left: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    margin-right: 5px;
}

footer {
    display: block;
    background-color: #111;
    padding: 5px 0px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: #DDD;
    text-align: center;
    font-size: 0.8em;
}

a:link, a:visited, a:hover, a:focus, a:active {
    color: #DDD;
    text-decoration: none;
}

footer ul {
    margin: 0 0;
}

footer li {
    display: inline-block;
    width: 20%;
    margin: 0 0;
    height: 15px;
}

@media screen and (max-width: 600px) {
    footer{
      visibility: hidden;
      display: none;
    }
  }

/* Class Selectors */

.title {
    display: inline-block;
    font-size: 4em;
    text-decoration: underline;
    font-family: 'Avenger';
    margin-top: 5%;
    margin-bottom: 0%;
    padding-top: 1%;
    line-height: 1.3em;
}

.hero-block {
    display: inline-table;
    width: 100%;
    height: 100%;
    margin: 10px 0;
}


.hero-name-block, .hero-quote {
    display: inline-table;
    width: 50%;
    padding: 5px;
}

.hero-name-block {
    text-align: right;
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    .hero-name-block {
      font-size: 1.5em;
    }
  }

.hero-name-block p {
    display: inline;

}

.hero-quote {
    right: auto;
    text-align: left;
    margin: auto 0px;
    font-size: 1.5em;
    vertical-align: middle;
    border-left: 2px solid #FF4136;
    font-family: monospace;
    font-style: italic;
    font-weight: bold;
}
